# Gradle files
.gradle/
build/
*/build/

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Generated APKs
*.apk
*.aar
